DEPLOYMENT="IWM"
HPCGATEWAY_URL="http://base:5000"
GATEWAY_CLIENT_ID=<APP_ID>
GATEWAY_CLIENT_SECRET=<APP_SECRET>
MP_HOST_URL="staging.materials-marketplace.eu"
BROKER_LOG_PATH="/tmp"
F7T_TOKEN=<F7T_TOKEN>
MONGODB_PASSWORD="mongo"
MONGO_INITDB_ROOT_PASSWORD="mongo"
